{% comment %}
  This page represents the /collections/* and /collections/all/* pages.
{% endcomment %}

{% section 'hero-collection' %}

<section class="products-collection">
  <div class="container">
    <Collection></Collection>
  </div>
</section>

<script id="collection-view-data" type="application/json">
  {
    "id": "testID",
    "name": "test",
    "title": "{{collection.title}}",
    "products": {{collection.products|json}}
  }
</script> 

<style>
  .tagger{
    z-index: 1
  }
</style>